body {
  margin: 0;
  font-size: 16px;
  text-align: center;
}
header {
  background-color: #333;
}
footer {
  height: 100px;
}
td,
th {
  white-space: nowrap;
}
h1 {
  margin: 0;
  font-size: 32px;
}
p {
  margin: 0;
}
main {
  margin: 30px 10px;
}
form {
  margin: 0;
}
.title {
  color: white;
}
.create-link,
.edit-link,
.delete-link {
  color: white;
  margin: 10px;
}
button,
input[type='submit'],
input[type='button'] {
  -webkit-user-select: none;
  -webkit-appearance: none;
  user-select: none;
  color: white;
  background-color: #333;
  border-radius: 0;
  height: 30px;
}
button:hover,
input[type='submit']:hover,
input[type='button']:hover {
  -webkit-user-select: none;
  -webkit-appearance: none;
  user-select: none;
  color: white;
  background-color: #666;
  cursor: pointer;
}
input[type='text'],
textarea {
  border: 1px solid #ccc;
  height: 30px;
  font-size: 16px;
}
.content {
  background-color: #eee;
  width: 600px;
  max-width: calc(100% - 20px);
  margin: 10px auto;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 #333;
  padding: 10px;
}
